flask
flask-cors
pymongo
pdfplumber
transformers
sentence_transformers
rouge_score
textstat
langdetect
nltk
gtts
torch
fitz
numpy
typing
os
werkzeug
uuid
asyncio
json
openai
logging
